# ============================================
# RS Medika Sentosa — Environment Variables
# Copy ke .env dan isi dengan nilai yang sesuai
#   cp .env.example .env
# ============================================

# PostgreSQL
POSTGRES_DB=medika_sentosa
POSTGRES_USER=core
POSTGRES_PASSWORD=arie12345

# Backend (Spring Boot)
JWT_SECRET=btaIMo#,.ayTmcIF{jH|i[g3uZ2%{6J2gr,6pJi.yc4
JWT_EXPIRATION_MS=86400000
SPRING_CACHE_TYPE=simple

# ML Service
FASTAPI_URL=http://ml-service:8001
